*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background: #000000;
}
nav{
    padding: 5px 20px;
    z-index: 2;
}
nav ul{
    list-style: none;
}
nav ul a{
    color: #ffffff;
    text-decoration: none;
}
.menu li{
    font-size: 20px;
    padding: 15px 5px;
}
.menu li a{
    display: block;
    text-transform: uppercase;
}
.menu .item a:hover{
    color: #ffffff;
    transition: 1s;
}
.menu .k-name a:hover,.menu .item a:hover{
    animation-name: rubberBand;
    animation-duration: 2s;
    animation-delay: 0.5s;
}
.logo a{
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
}


/*Mobile Menu*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order: 1;
    transition: 0.5s;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.item.active{
    transition: 1s;
    display: block;
}
.image-1{
    order: 2;
}
.image-1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.k-name{
    font-family: 'Pacifico', cursive;
}






.toggle{
    cursor: pointer;
    margin-bottom: 5px;
}
.bars{
    background: #ffffff ;
    display: inline-block;
    height: 3.5px;
    position: relative;
    width: 22px;
    transition: 0.5s;
}
.bars::before,.bars::after{
    background: #ffffff;
    content: '';
    display: inline-block;
    height: 3.5px;
    position: absolute;
    width: 22px;
    transition: 0.5s;
}
.bars::before{
    top: 6px;
}
.bars::after{
    top: -6px;
}

.toggle.close .bars{
    background: rgba(0, 0, 0, 0);
}
.toggle.close .bars::before{
    top: 0;
    transform: rotate(45deg);
}
.toggle.close .bars::after{
    top: 0;
    transform: rotate(135deg);
}




@media(min-width: 768px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
        flex: 4;
        
    }
    .logo a{
        font-size: 28px;
    }
    .item{
        order: 1;
        flex: 0;
    }
    .menu li{
        padding: 15px 25px;
    } 
    .image-1{
        display: none;
    }
    .k-name{
        display: none;
    }
    .menu .item a:hover{
        opacity: 0.6;
        transition: 1s;
    }
}
