@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash-container{
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.dash-container .dash-item{
    display: flex;
    border: 2px solid #cccccc;
    border-radius: 10px;
    width: 80%;
    margin: 20px;
}
.dash-container .dash-item img{
    width: 380px;
    height: 230px;
    border-radius: 9px 0px 0px 9px;
    border: #cccccc;
}
.dash-container .dash-item .dash-text{
    display: flex;
    width: 550px;
    margin: 20px;
    justify-content: space-between;
}
.dash-container .dash-item .dash-text h2{
    font-family: 'Merriweather', serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
}
.dash-container .dash-item .dash-text p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    width: 300px;
    font-size: 16px;
    padding: 20px;
}
.dash-container .dash-item a{
    font-family: 'Merriweather', serif;
    margin-top: 50px;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background: #ffffff;
    padding: 15px 10px;
    border: 2px solid #000000;
    transition: 0.8s;
}
.dash-container .dash-item a:hover{
    background-color: #000000;
    color: #ffffff;
}

.wrap {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  img {
    height: 50px;
    width: auto;
  }
  
  .wrap img {
    margin: 0px 0 0 -40px;
    line-height: 60px;
    left: 50%;
    bottom: 0px;
  }
  
  .bounce {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    5.55556% {
      transform: translateY(0);
    }
    11.11111% {
      transform: translateY(0);
    }
    22.22222% {
      transform: translateY(-15px);
    }
    27.77778% {
      transform: translateY(0);
    }
    33.33333% {
      transform: translateY(-15px);
    }
    44.44444% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  




@media(max-width: 768px){
    .dash-container .dash-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    .dash-container .dash-item img{
        width: 300px;
        height: 200px;
    }
    .dash-container .dash-item .dash-text{
        flex-direction: column;
        margin-left: 50px;
    }
    .dash-container .dash-item .dash-text-content{
        padding: 30px;
    }
}