*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash-container{
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.dash-container .dash-item{
    display: flex;
    border: 2px solid #cccccc;
    border-radius: 10px;
    width: 80%;
    margin: 20px;
}
.dash-container .dash-item img{
    width: 380px;
    height: 230px;
    border-radius: 9px 0px 0px 9px;
    border: #cccccc;
}
.dash-container .dash-item .dash-text{
    display: flex;
    width: 550px;
    margin: 20px;
    justify-content: space-between;
}
.dash-container .dash-item .dash-text h2{
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
}
.dash-container .dash-item .dash-text p{
    line-height: 1.5;
    width: 300px;
    font-size: 16px;
    padding: 20px;
}
.dash-container .dash-item a{
    margin-top: 50px;
    height: 50px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background: #ffffff;
    padding: 15px 10px;
    border: 2px solid #000000;
    transition: 0.8s;
}
.dash-container .dash-item a:hover{
    background-color: #000000;
    color: #ffffff;
}