*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash-container{
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.dash-container .dash-item{
    display: flex;
    justify-content: space-between;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 100%;
    margin: 20px;
}
.dash-container .dash-item img{
    width: 380px;
    height: 220px;
    border-radius: 9px 0px 0px 9px;
}
