*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-container {
    width: 100vw;
    background: #000000;         
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    padding: 50px;
  }
.contact-container .contact-form{
    width: 40vw;
    margin: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.contact-container .contact-form h1{
    font-size: 30px;
}

.contact-container .contact-form label,h1{
    color: white;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.contact-container .contact-form h1, p {
  text-align: center;
}

.contact-container .contact-form .input1{
    height: 30px;
}

.contact-container .contact-form .input1, textarea {
  width: 100%;
  margin: 15px;
  padding: 5px;
} 

.contact-container .contact-form textarea{
  border-radius: 2px;
  height: 200px;
}

.contact-container .contact-form .contact-btn-container{
  text-align: center;
  font-size: 18px;
}
.contact-container .contact-form .contact-btn-container .contact-btn{
  padding: 12px 30px;
}
    
@media screen and (max-width: 768px) 
{

    .contact-container {
      padding: 5%;
      /* background: #ffffff; */
      /* border: 6px solid #000000;             */
      max-width: 520px;
      margin: auto;
      font-family: 'Roboto Slab', serif;
    }

}