*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: #151515;
    padding: 5px 40px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li{
    padding: 15px 0;
}

nav ul li.items{
    width: auto;
    margin: 0 16px;
    text-align: center;
}

nav ul li a{
    color: #ffffff;
}