/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prod-container{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.prod-container .prod-card{
    width: 300px;
    height: 450px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 
.prod-container .prod-card .prod-img img{
    width: 280px;
    padding: 10px;
    padding-bottom: 10px;
    height: 280px;
}*/





/*Product CSS*/
body {
    padding: 40px 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    transition: 2s;
  }
  
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .grid > article:hover{
    transform: scale(1.02);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    padding: 20px;
  }