*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.container{
    width: 90vw;
    background: #cccccc;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.prod-card{
 background: #ffffff;
 width: 300px;
 height: 400px;  
 margin: 20px;
 border-radius: 5px;
}

.prod-card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.prod-card img{
    width: 250px;
    height: 200px;
    margin: 10px 0px;
}

.prod-card .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px;
}