*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.container{
    width: 90vw;
    background: #cccccc;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.prod-card{
 background: #ffffff;
 width: 300px;
 height: 400px;  
 margin: 20px;
 border-radius: 5px;
}