*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prod-container{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.prod-container .prod-card{
    width: 300px;
    height: 380px;
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


 
.prod-container .prod-card .prod-img img{
    width: 300px;
    height: 220px;
}
.prod-container ul{
  list-style: none;
  line-height: 1.2;
}

.prod-container .btn-container{
  display: flex;
  flex-direction: column;
}
.prod-container .btn-container button{
  height: 30px;
  width: 250px;
  margin: 5px 0px 4px 0px;
  /*margin: 20px;*/
  border-radius: 5px;
}
.prod-container .btn-container button:hover{
  background-color: #000000;
  color: #ffffff;
}





/*Product CSS*/

/*
body {
    padding: 40px 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    transition: 2s;
  }
  
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .grid > article:hover{
    transform: scale(1.02);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    padding: 20px;
  }

  ul{
    font-size: 16px;
    font-style: italic;
  }
  /*.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  table{
    padding: 20px;
    align-items: center;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    padding: 20px;
  }*/


  /*Request Button*/
  .req-container{
    text-align: center;
  }
  .req-btn{
    background: #ffffff;
    font-size: 16px;
    font-weight: 600;
    color: #cd0a0a;
    border: 2px solid #cd0a0a;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 150px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s linear;
  }

  .req-btn:hover{
    color: #ffffff;
    background: #cd0a0a;
  }