*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.container{
    width: 90vw;
    background: #cccccc;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}